/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: small;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;
}

#section-text {
  border: 1px solid black;
  padding: 30px 20px 20px 20px;
  background-color: gray;
  height: 160px;
  margin: 15px;
  color: white;
}

.label-format {
  border: 1px solid black;
  position: relative;
  padding-top: 5px;
  width: 100px;
  height: 30px;
  margin: 15px;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 1.25em;
  font-weight: bold;
  float: right;
}

#section1-label {
  background-color: #FA52A2;
}

#section2-label {
  background-color: #FDEB88;
}

#section3-label {
  background-color: #5F9FEA;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop version **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    /* border: 1px solid red; */
  }
  .col-lg-4 {
    width: 33.33%;
  }
  #section-text {
    height: 180px;
  }
  #section3-text {
    border: 1px solid black;
    padding: 30px 20px 20px 20px;
    background-color: gray;
    height: 180px;
    margin: 15px;
    color: white;
  }
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    /* border: 1px solid green; */
  }
  .col-md-6 {
    width: 50%;
  }
  .section3-format {
  	width: 100%;
  }
  #label3 {
    background-color: #5F9FEA;
  }
  #section3-text {
    border: 1px solid black;
    padding: 30px 20px 20px 20px;
    background-color: gray;
    height: 110px;
    margin: 15px;
    color: white;
  }
}

/********** Mobile version **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    /* border: 1px solid blue; */
  }
  .col-sm-12 {
    width: 100%;
  }
  #section-text {
    height: 140px;
  }
  #section3-text {
    border: 1px solid black;
    padding: 30px 20px 20px 20px;
    background-color: gray;
    height: 140px;
    margin: 15px;
    color: white;
  }
}
